<article class="story grid container p-5">
  <section class="story--desc">
    <header class="story--desc__header">
      <p class="heading--sub">Discover story</p>
      <h2 class="heading--main">Our Story</h2>
    </header>
    <div class="story--desc__text">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
        repudiandae provident sit cum? Voluptates odio in vero. Neque,
        asperiores.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam,
        praesentium!
      </p>
    </div>
  </section>
  <section>
    <img class="story--img" src="images/trek.jpeg" alt="" />
  </section>
</article>
