<article class="hero hero__container">
  <header class="container">
    <h1 class="hero__heading">Let's Enjoy The Wonders of Nature</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis ratione
      expedita totam doloremque.
    </p>
  </header>
</article>

<article class="story grid grid--1X2 container p-5">
  <section class="story--desc">
    <header class="story--desc__header relative">
      <p class="heading--sub">Discover story</p>
      <h2 class="heading--main">Our Story</h2>
      <p class="heading-bg">story</p>
    </header>
    <div class="story--desc__text">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
        repudiandae provident sit cum? Voluptates odio in vero. Neque,
        asperiores.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam,
        praesentium!
      </p>
    </div>
  </section>
  <section>
    <img
      class="story--img"
      src="images/trek.jpeg"
      alt="bagpacker trekking in forest "
    />
  </section>
</article>

<article class="container journey">
  <header class="jounrey--desc__header relative" style="overflow: hidden">
    <p class="heading--sub">Journey</p>
    <h2 class="heading--main">Your Journey Starts Here</h2>
    <p class="heading-bg">journey</p>
  </header>
  <section class="journey__grid grid grid--2X3 grid--1X3">
    <div class="journey__items-1 background--img">
      <h3 class="journey__price"><a href="">$2,000</a></h3>
      <p class="journey__price-desc"><a href="">Mardi Himal Trek</a></p>
    </div>
    <div class="journey__items-2 background--img">
      <h3 class="journey__price"><a href="">$1,800</a></h3>
      <p class="journey__price-desc"><a href="">Rolwaling Trek</a></p>
    </div>
    <div class="journey__items-3 background--img">
      <h3 class="journey__price"><a href="">$1,200</a></h3>
      <p class="journey__price-desc">
        <a href="">Annpurna Circuit Trek</a>
      </p>
    </div>
    <div class="journey__items-4 background--img">
      <h3 class="journey__price">$1,200</h3>
      <p class="journey__price-desc">Everest Base Camp Trek</p>
    </div>
    <div class="journey__items-5 background--img">
      <h3 class="journey__price"><a href="#">$1,000</a></h3>
      <p class="journey__price-desc">
        <a href="#">Langtang Valley Trek</a>
      </p>
    </div>
    <div class="journey__items-6 background--img">
      <h3 class="journey__price"><a href="">$1,900</a></h3>
      <p class="journey__price-desc"><a href="">Tsho Rolpa Lake Trek</a></p>
    </div>
  </section>
</article>
<!-- TEAM -->
<article class="team container">
  <header class="jounrey--desc__header relative">
    <p class="heading--sub">Amazing staff</p>
    <h2 class="heading--main">Meet Our Team</h2>
    <p class="heading-bg">Our Team</p>
  </header>
  <section class="team grid grid--1X3">
    <div class="team--article">
      <img
        class="team--photo"
        sizes="(max-width: 1280px) 100vw, 1280px"
        srcset="
          images/pexels-potrait_jo5bmx_ar_1_1,c_fill,g_auto__c_scale,w_200.jpg   200w,
          images/pexels-potrait_jo5bmx_ar_1_1,c_fill,g_auto__c_scale,w_999.jpg   999w,
          images/pexels-potrait_jo5bmx_ar_1_1,c_fill,g_auto__c_scale,w_1280.jpg 1280w
        "
        src="images/pexels-potrait_jo5bmx_ar_1_1,c_fill,g_auto__c_scale,w_1280.jpg"
        alt="a handsome staff"
        style="margin: 0 auto"
      />
      <div class="team-staff">
        <h3 class="team-staff__name">John Doe</h3>
        <h3 class="team-staff__post">Staff</h3>
        <p class="team-staff__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel minus
          nisi quaerat, officiis officia sunt. Consequuntur.
        </p>
        <div>
          <span class="media-icon"
            ><a href=""><i class="fab fa-facebook-f"></i></a
          ></span>
          <span class="media-icon"
            ><a href=""><i class="fab fa-instagram"></i></a
          ></span>
          <span class="media-icon"
            ><a href=""><i class="fab fa-twitter"></i></a
          ></span>
        </div>
      </div>
    </div>
    <div class="team--article">
      <img
        class="team--photo"
        src="images/Tanya-Perez.jpg"
        alt="a cheerful staff"
      />
      <div class="team-staff">
        <h3 class="team-staff__name">John Doe</h3>
        <h3 class="team-staff__post">Staff</h3>
        <p class="team-staff__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel minus
          nisi quaerat, officiis officia sunt. Consequuntur.
        </p>
        <div>
          <span class="media-icon"
            ><a href=""><i class="fab fa-facebook-f"></i></a
          ></span>
          <span class="media-icon"
            ><a href=""><i class="fab fa-instagram"></i></a
          ></span>
          <span class="media-icon"
            ><a href=""><i class="fab fa-twitter"></i></a
          ></span>
        </div>
      </div>
    </div>
    <div class="team--article">
      <img
        class="team--photo"
        src="images/office.jpg"
        alt="a beautiful lady staff"
        style="margin: 0 auto"
      />
      <div class="team-staff">
        <h3 class="team-staff__name">John Doe</h3>
        <h3 class="team-staff__post">Staff</h3>
        <p class="team-staff__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel minus
          nisi quaerat, officiis officia sunt. Consequuntur.
        </p>
        <div>
          <span class="media-icon"
            ><a href=""><i class="fab fa-facebook-f"></i></a
          ></span>
          <span class="media-icon"
            ><a href=""><i class="fab fa-instagram"></i></a
          ></span>
          <span class="media-icon"
            ><a href=""><i class="fab fa-twitter"></i></a
          ></span>
        </div>
      </div>
    </div>
  </section>
</article>
<!-- Testimony -->
<section class="testimony container">
  <header
    class="testimony--header"
    style="position: relative; overflow: hidden"
  >
    <p class="heading-bg">TESTIMONY</p>
    <p class="heading--sub">Testimony</p>
    <h2 class="heading--main">Happy Customers</h2>
  </header>

  <div class="testimony--grid">
    <div class="testimony__grid">
      <img class="customer__img" src="images/Tanya-Perez.jpg" alt="" />
      <div class="customer--section">
        <p class="customer__comment">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi in
          perspiciatis velit ea sunt? Ex.
        </p>
        <div class="customer__name">
          <span>
            <img class="line-icon" src="icons/line.png" alt="" />
          </span>
          <p>John Doe</p>
        </div>
      </div>
    </div>
    <div class="testimony__grid">
      <img class="customer__img" src="images/office.jpg" alt="" />
      <div class="customer--section">
        <p class="customer__comment">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi in
          perspiciatis velit ea sunt? Ex.
        </p>
        <div class="customer__name">
          <span>
            <img class="line-icon" src="icons/line.png" alt="" />
          </span>
          <p>John Doe</p>
        </div>
      </div>
    </div>
  </div>
</section>
